{% extends 'Base/base.html' %}

{% block title %}Inicio{% endblock %}



{% block content %}

{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        "title": "Informacion Sistema",
        "text": "{{message}}",
        "icon": "{{message.tags}}"
    })
</script>
{% endfor %}
{% endif %}

  {% if user.rol == "admin" %}
<table id="data">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Telefono</th>
        <th>Servicio</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Estado</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
        {% for l in l %}
        <tr>
            <td>{{l.cliente}}</td>
            <td>{{l.tel}}</td>
            <td>{{l.servicio}}</td>
            <td>{{l.cita|date:"d-m-Y"}}</td>
            <td>{{l.hora}}</td>
            {% if l.estado == 0 %}
            <td>Esperando Confirmacion</td>
            {% elif l.estado == 1 %}
            <td>Confirmada</td>
            {% else %}
            <td>Rechazada</td>
            {% endif %}
            <td>
                {% if l.estado == 0 %}
                <a href="{% url 'Confirmar' l.id %}"><box-icon name='check-circle' size="md"></box-icon></a>
                <a href="{% url 'Rechazar' l.id %}"><box-icon name='x-circle' size="md" ></box-icon></a>
                {% else %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  
  {% else %}
  <h1 algin="center">BIENVENIDOS</h1>

  {% endif %}
{% endblock %}