<script>
  import { Calendar } from '@fullcalendar/core'
  import { formatDate } from '@fullcalendar/core'
  import timeGridPlugin from '@fullcalendar/timegrid'
  import dayGridPlugin from '@fullcalendar/daygrid'
  import momentPlugin from '@fullcalendar/moment';
</script>

{% extends 'Base/base.html' %}


{% block content %}
{% if messages %}
{% for message in messages %}
<script>
  Swal.fire({
    "title": "Informacion Sistema",
    "text": "{{message}}",
    "icon": "{{message.tags}}"
  })
</script>
{% endfor %}
{% endif %}


<div id="calendar"></div>

<table id="data">
  <thead>
    <tr>
      <th>Cliente</th> 
      <th>Telefono</th>
      <th>Servicio</th>
      <th>Barbero</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Estado</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    {% for c in citas %}
    <tr>
      <td>{{c.cliente}}</td>
      <td>{{c.tel}}</td> 
      <td>{{c.servicio}}</td>
      <td>{{c.barbero}}</td>
      <td>{{c.cita|date:"d-m-Y"}}</td>
      <td>{{c.hora}}</td>
      {% if c.estado == 0 %}
      <td>Pendiente</td>
      {% else %}
      <td>Concluida</td>
      {% endif %}
      <td> 
        <a href="{% url 'UpdateCita' c.id %}"><box-icon name='edit' size="md"></box-icon></a>
        <a href="{% url 'DeleteCita' c.id %}"><box-icon name='x-circle' size="md"></box-icon></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>

  document.addEventListener('DOMContentLoaded', function () {
    let calendarUI = document.getElementById('calendar');
    let calendar = new FullCalendar.Calendar(calendarUI, {
      timeZone: 'CST',
      initialView: 'dayGridMonth',
      headerToolbar: {
        initialView: 'dayGridMonth',
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      locale: 'es',
      events: [
      {% for c in citas %}
      {% if c.estado == 0 %}
        {
        title: '{{c.cliente}}',
        start: '{{c.reserva_cita}}',
      },
      {% endif %}
      {% endfor %}
      ],
      eventTimeFormat: {
               hour: '2-digit',
               minute: '2-digit',
               hour12: true,
              },
    });
  calendar.render();
  });
</script>

{% endblock %}