{% extends 'Base/base.html' %}


{% block content %}

{% if messages %}
{% for message in messages %}
<script>
  Swal.fire({
    "title": "Informacion Sistema",
    "text": "{{message}}",
    "icon": "{{message.tags}}"
  })
</script>
{% endfor %}
{% endif %}

<form action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}
  <div class="row">
    <h3>FORMULARIO DE AGENDAR CITAS</h3>
    <label for="">Nombre del Cliente</label>
    <input type="text" name="cliente" required maxlength="200">

    <label for="">Telefono del Cliente</label>
    <input type="text" name="tel" required maxlength="8">

    <label for="">Fecha de Cita</label>
    <input type="date" name="cita" id="myDateInput" required>

    <label for="">Hora de Cita</label>
    <input type="time" name="hora">

    <label for="">Servicio Solicitado</label>
    <select name="servicio" required>
      <option selected>Elija Opcion</option>
      <option value="Corte de Pelo">Corte de Pelo</option>
      <option value="Corte de Barba">Corte de Barba</option>
      <option value="Corte de Pelo y Barba">Corte de Pelo y Barba</option>
      <option value="Servicio Completo">Servicio Completo</option>
    </select>

    <label for="">Barbero</label>
    <select name="barbero" required>
      <option selected>Elija Opcion</option>
      <option value="Estuardo Mata">Estuardo Mata</option>
      <option value="Ricardo Lopez">Ricardo Lopez</option>
      <option value="Aleatorio">Aleatorio</option>
    </select>
    <br>
    <input type="submit" value="Guardar">
  </div>
</form>

<script>
/* Solo muestra los 30 dias posteriores */
const [today] = new Date().toISOString().split('T');

const maxDate = new Date();
maxDate.setDate(maxDate.getDate() + 30);
const [maxDateFormatted] = maxDate.toISOString().split('T');

const dateInput = document.getElementById('myDateInput');
dateInput.setAttribute('min', today);
dateInput.setAttribute('max', maxDateFormatted);

/* Deshabilita los domingos */
const picker = document.getElementById('myDateInput');
picker.addEventListener('input', function(e){
  var day = new Date(this.value).getUTCDay();
  if([7,0].includes(day)){
    e.preventDefault();
    this.value = '';
    alert('No se atiende los Domingos');
  }
});
</script>

{% endblock %}