{% extends 'Base/base.html' %}


{% block content %}

<form action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}
  <div class="row">
    <h1>FORMULARIO DE ACTUALIZACION PRODUCTO</h1><br>
    <div>
      <label for="">Nombre del Producto</label>
      <input type="text" name="nombre" required value="{{p.nombre}}">
    </div>
    <div>
      <label for="">Foto del Corte</label>
      <input type="file" name="foto" id="foto" required>
    </div>
    <div>
      <label for="">Descripcion del Corte</label>
      <input type="text" name="descripcion" required value="{{p.descripcion}}">
    </div>
    <div>
      <label for="">Precio del Producto</label>
      <input type="number" name="producto" required value="{{p.precio}}">
    </div>
    <div>
      <img src="{{p.foto.url}}" style="width: 200px; height: 200px;">
    </div>
    <div>
      <img id="imagenPrevisualizacion" style="width: 200px; height: 200px;">
    </div>
    <div>
      <button type="submit" class="btn btn-success">Guardar</button>
    </div>
  </div>
</form>

{% endblock %}