{% extends 'Base/base.html' %}


{% block content %}
{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        "title": "Informacion Sistema",
        "text": "{{message}}",
        "icon": "{{message.tags}}"
    })
</script>
{% endfor %}
{% endif %}
{% for c in cortes %}
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{{c.foto.url}}" alt="...">
    </div>
    <div class="flip-card-back">
      <h1>{{c.nombre}}</h1><br>
      <p>{{c.descripcion}}</p><br>
      {%if user.rol == "admin"%}
      <a href="{% url 'UpdateEstilo' c.id %}" class="btn-actualizar">Actualizar</a>
      <a href="{% url 'DeleteEstilo' c.id %}" class="btn-eliminar">Eliminar</a>
      {%endif%}
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}