{% extends 'Base/base.html' %}


{% block content %}

<form action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
        <h1>FORMULARIO DE ACTUALIZACION DE SERVICIO</h1><br>
        <div>
            <label for="">Nombre del Servicio</label>
            <input type="text" name="nombre" required value="{{s.nombre}}">
        </div>
        <div>
            <label for="">Tiempo Estimado</label>
            <input type="number" name="tiempo" required value="{{s.tiempo}}">
        </div>
        <div>
            <label for="">Precio</label>
            <input type="number" name="precio" required value="{{s.precio}}">
        </div>
        <div>
            <button type="submit">Actualizar</button>
        </div>
    </div>
</form>


{% endblock %}