{% extends 'Base/base.html' %}


{% block content %}
{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        "title": "Informacion Sistema",
        "text": "{{message}}",
        "icon": "{{message.tags}}"
    })
</script>
{% endfor %}
{% endif %}
<table id="data">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tiempo (Minutos)</th>
      <th>Precio</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    {% for s in servicios %}
    <tr>
      <td>{{s.nombre}}</td>
      <td>{{s.tiempo}}</td>
      <td>Q{{s.precio}}</td>
      <td> 
        <a href="{% url 'UpdateServicio' s.id %}"><box-icon name='edit' size="md"></box-icon></a>
        <a href="{% url 'DeleteServicio' s.id %}"><box-icon name='x-circle' size="md"></box-icon></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}