{% extends 'Base/base.html' %}


{% block content %}

{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        "title": "Informacion Sistema",
        "text": "{{message}}",
        "icon": "{{message.tags}}"
    })
</script>
{% endfor %}
{% endif %}

<form action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
        <h1>Nuevo Servicio</h1><br>
        <label for="">Nombre del Servicio</label>
        <input type="text" name="nombre" required>
        <label for="">Tiempo Estimado</label>
        <input type="number" name="tiempo" required>
        <label for="">Precio</label>
        <input type="number" name="precio" required>
        <input type="submit" value="Guardar">
    </div>
</form>

{% endblock %}