<html lang="en">
{% load static %}

<head>
  <title>Login | StuardBarbershop</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{% static 'Login/style.css' %}" />
  <link href="https://fonts.cdnfonts.com/css/bronco-personal-use" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <main>
    <section class="login-container">
      <div class="login-logo">
        <img src="{% static 'img/logo2.png' %}" alt="logo">
      </div>
      <div class="login-form">

        <form action="">
          <h1 class="login-head">INICIO DE SESION</h1>
          <div class="login-usuario">
            <label for="usuario" class="form-label">
              <h3><i class='bx bxs-user'></i>USUARIO</h3>
            </label>
            <input type="text" name="usuario" class="form-control" id="usuario" placeholder="Usuario" required
              autofocus>
          </div>

          <div class="login-contraseña">
            <label for="contraseña" class="form-label">
              <h3><i class='bx bxs-lock-open-alt'></i>CONTRASEÑA</h3>
            </label>
            <input type="password" name="contraseña" class="form-control" id="contraseña" placeholder="Contraseña"
              required>
          </div>

          <div class="login-button">
            <button>
              <i class='bx bxs-log-in'></i>
              Ingresar
            </button>
          </div>
        </form>

      </div>
    </section>
  </main>
</body>

</html>