/** DESKTOP **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: whitesmoke;
    color: #000;
}

header{
    background-color: #2e86c1;
}

a {
    text-decoration: none;
}

/** Menu Lateral **/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
   background-color: #abebc6;
    overflow: hidden;
    transition: 1s;
    padding-top: 60px;
}

/**.dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: gold;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}**/

.sidenav a,
.dropdown-btn {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    background: none;
    border: none;
    outline: none;
}

.sidenav a:hover,
.dropdown-btn:hover {
    color: whitesmoke;
}

.logo {
    padding: 8px 5px 8px 0px !important;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 36px;
    margin-left: 50px;
}

#openBtn,
#main {
    transition: margin-left 1s;
    padding: 16px;
}

.dropdown-container {
    display: none;
    background-color: #d0d3d4 ;
    padding-left: 8px;
}

.active {
    background-color: transparent;
    color: goldenrod;
}

/*Menu Inferior*/
.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.menu-footer {
    background-color:  #f7dc6f ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu-icons {
    text-align: center;
    text-decoration: none;
    padding-right: 2rem;
    text-decoration: none;
    color: black;
}

/**Tarjetas**/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 15%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 200px;
}

.card-container {
    padding: 2px 16px;
}

/** Tablas **/
table {
    border-collapse: collapse;
    width: 100%;
    background-color:  #d6eaf8  ;
    border-style: solid;
    border-color: #000;
}

th,
td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #d6dbdf 
}

th {
    background-color: #117a65  ;
    color: white;
}