/** DESKTOP **/
* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: whitesmoke;
    color: #000;
}

header {
    background-color: #DAA520;
    width: 100%;
}

a {
    text-decoration: none;
}

.contenedor {
    margin: 1rem;
    overflow: scroll;
}

/** Menu Lateral **/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #17202a;
    overflow: hidden;
    transition: 1s;
    padding-top: 3rem;
}

.sidenav a,
.dropdown-btn {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #fdfefe;
    display: block;
    transition: 0.3s;
    background: none;
    border: none;
    outline: none;
}

.sidenav a:hover,
.dropdown-btn:hover {
    color: #DAA520;
}

.sidenav a img{
    width: 150px;
    height: 150px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 36px;
    margin-left: 50px;
}

#openBtn,
#main {
    transition: margin-left 1s;
}

.dropdown-container {
    display: none;
    background-color: #1c2833;
    padding-left: 8px;
}

.active {
    background-color: transparent;
    color: #DAA520;
}

/*Menu Inferior*/
.menu-footer {
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu-icons {
    text-align: center;
    text-decoration: none;
    padding-right: 2rem;
    text-decoration: none;
    color: black;
}

/**Tarjetas**/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    display: inline-flex;

}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #cacfd2 ;
    color: #000;
    transform: rotateY(180deg);
    align-content: center;

}

.flip-card img{
    width:300px;
    height:300px;
}

.btn-actualizar {
    background-color: #f39c12;
    color: #ffff;
    border-radius: 5px;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.btn-eliminar {
    background-color: #e74c3c;
    color: #ffff;
    border-radius: 5px;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}

/** Tablas **/
table {
    border-collapse: collapse;
    background-color: #d6eaf8;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
}

th,
td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #d6dbdf
}

th {
    background-color: #117a65;
    color: white;
}

/** Formularios **/
.row {
    background-color: #d6eaf8;
    padding: 2rem;
    border: 1px solid;
    border-radius: 5px;
}

input[type=text],
[type=number],
[type=file] {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    border-radius: 5px;
    margin: 8px 0;
    border: none;
}

input[type=submit] {
    background-color: #138d75;
    color: #ffff;
    cursor: pointer;
    display: inline-block;
    border: none;
    border-radius: 10px;
    padding: 1rem 1rem 1rem 1rem;
}

input[type=submit]:hover {
    background-color: #16a085;
}