<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% block title %}{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
  <link rel="icon" href="{% static 'icon.ico' %}" type="image/x-icon" />

  <!-- CSS Files -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'Base/styles.css' %}" type="text/css">

</head>

<body>
  <header>

    <div class="sidenav" id="mySidenav">
      <img src="{% static 'barbershop.png' %}" alt="..." style="width: 200px;">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'ListadoCita' %}">Citas</a>
      <a href="#">Eventos</a>
      <a href="#">Productos</a>
      <a href="{% url 'ListadoServicio'%}">Servicios</a>
      <a href="#">Reportes</a>
    </div>

    <div id="openBtn">
      <span style="font-size: 30px; cursor: pointer;" onclick="openNav()"><i class='bx bx-menu bx-lg'></i></span>
    </div>
  </header>

  <main id="main">
    {% block content %}{% endblock %}

    <!--<div class="card">
      <img src="{% static 'krilin.jpg' %}" alt="...">
      <div class="card-container">
        <h4>Juancho</h4>
        <p>Juancho es gay</p>
        <a href="#" type="button"><button class="btn-update">Actualizar</button></a>
        <a href="#" type="button"><button>Eliminar</button></a>
      </div>
    </div>-->

  </main>

  <!--<footer>
    <div class="container">
      <div class="menu-footer">
        <a class="menu-icons" href="#"><i class='bx bx-calendar bx-lg' style="color: black;"></i><br>Citas</a>
        <a class="menu-icons" href="#"><i class='bx bx-spreadsheet bx-lg' style="color: black;"></i><br>Servicios</a>
        <a class="menu-icons" href="{% url 'Inicio' %}"><i class='bx bx-face bx-lg'
            style="color: black;"></i><br>Clientes</a>
        <a class="menu-icons" href="#"><i class='bx bx-cog bx-lg' style="color: black;"></i><br>Configuracion</a>
      </div>
    </div>
  </footer>-->
  <!--Js Files-->
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <script type="text/javascript" src="{% static 'Base/scripts.js' %}"></script>
</body>

</html>