<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% block title %}{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
  <link rel="icon" href="{% static 'icon.ico' %}" type="image/x-icon" />

  <!-- CSS Files -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'fullcalendar/main.css' %}">
  <link rel="stylesheet" href="{% static 'Base/styles.css' %}" type="text/css">
</head>

<body>
  <header>

    <div class="sidenav" id="mySidenav">
      <a href="{% url 'Inicio' %}"><img src="{% static 'img/logo.png' %}" alt="..."></a>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

      <button class="dropdown-btn">Citas
      </button>
      <div class="dropdown-container">
        <a href="{% url 'ListadoCita' %}"> Listado Citas </a>
        <a href="{% url 'NuevaCita' %}"> Nueva Citas </a>
      </div>

      <a href="#">Eventos</a>

      <button class="dropdown-btn">Productos
      </button>
      <div class="dropdown-container">
        <a href="{% url 'ListadoProducto' %}">Listado Productos</a> 
        <a href="{% url 'NuevoProducto' %}">Agregar Productos</a>
      </div>
      <button class="dropdown-btn">Servicios
      </button>
      <div class="dropdown-container">
        <a href="{% url 'ListadoServicio' %}">Listado Servicios</a>
        <a href="{% url 'NuevoServicio' %}">Agregar Servicios</a>
      </div>
      <button class="dropdown-btn">Estilos
      </button>
      <div class="dropdown-container">
        <a href="{% url 'ListadoEstilo' %}">Listado Estilos</a>
        <a href="{% url 'NuevoEstilo' %}">Agregar Estilos</a>
      </div>
      <a href="#">Reportes</a>
    </div>

    <div id="openBtn">
      <span style="font-size: 30px; cursor: pointer;" onclick="openNav()"><i class='bx bx-menu bx-lg'></i></span>
    </div>
  </header>

  <main id="main">
    <div class="contenedor">
    {% block content %}{% endblock %}
    </div>
  </main>

  <footer>
    <div class="menu-footer">
      <a class="menu-icons" href="#"><i class='bx bx-calendar bx-lg'></i></a>
      <a class="menu-icons" href="#"><i class='bx bx-spreadsheet bx-lg'></i></a>
      <a class="menu-icons" href="{% url 'Inicio' %}"><i class='bx bx-user bx-lg'></i></a>
      <a class="menu-icons" href="#"><i class='bx bx-cog bx-lg'></i></a>
    </div>
  </footer>

  <!--Js Files-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <script type="text/javascript" src="{% static 'Base/scripts.js' %}"></script>
  <script src="{% static 'fullcalendar/main.js' %}"></script>
</body>

</html>